In [1]:
import pandas as pd
import numpy as np

In [4]:
#Path to csv file
file = "ETL_Project/Resources/journal.pone.0249891.s001.csv"

#Read file into pandas
df = pd.read_csv(file)
df.head()

,StateID,State,adh_AUGavg,adh_JULavg,adh_JUNEavg,adh_MAYavg,adh_APRavg,Pop_2019,Hispanic,NHBlack,...,maskGT75,maskSEP75,maskJUL75,maskAUG75,strictJunPol,strictJulPol,strictSeplPol,strictSepPol,strictAuglPol,strictAugPol
0,1,Alabama,65.354839,62.677419,27.60,30.13,24.67,4903185,4.1,26.7,...,0,0,0,0,0,0,0,,0,
1,2,Alaska,56.838710,57.451613,46.03,42.42,33.30,731545,7.0,2.9,...,0,0,0,0,0,1,0,1,0,1
2,3,Arizona,87.258065,83.129032,21.77,17.55,14.90,7278717,31.4,4.1,...,1,0,1,1,0,0,0,,0,
3,4,Arkansas,59.000000,58.258065,36.90,38.19,27.57,3017804,7.4,15.2,...,0,0,0,0,0,1,0,1,0,1
4,5,California,74.612903,74.290323,48.70,45.23,38.07,39512223,39.1,5.5,...,0,0,0,0,0,0,0,,0,

In [5]:
df.columns

Index(['StateID', 'State', 'adh_AUGavg', 'adh_JULavg', 'adh_JUNEavg',
       'adh_MAYavg', 'adh_APRavg', 'Pop_2019', 'Hispanic', 'NHBlack',
       'NHWhite', 'Age', 'PopDensity', 'DistancePolicy', 'tot_Cases_Jul',
       'DistanceNone', 'DistanceStrict', 'DistCat', 'tot_cases_Apr',
       'tot_cases_May', 'tot_cases_Jun', 'tot_cases_Aug', 'tot_cases_Sep',
       'newCases_May', 'newCases_Jun', 'newCases_Jul', 'newCases_Aug',
       'newCases_Sep', 'case_rate_May', 'case_rate_Jun', 'case_rate_Jul',
       'case_rate_Aug', 'case_rate_Sep', 'EndStayHome', 'NoStayHomePolicy',
       'NoHomeMay', 'MaskPolStart', 'MaskJunPol', 'MaskJulPol', 'MaskAugPol',
       'MaskSepPol', 'MaskPolStop', 'tot_cases_Oct', 'newCases_Oct',
       'case_rate_Oct', 'AdhSEPavg', 'Wk_case_rate_Sep', 'Wk_case_rate_Oct',
       'Wk_case_rate_Aug', 'Wk_case_rate_Jul', 'Wk_case_rate_Jun',
       'Wk_case_rate_May', 'Wk_MayHI', 'Wk_JunHI', 'Wk_JulHI', 'Wk_AugHI',
       'Wk_SepHI', 'Wk_OctHI', 'maskGT75', 'maskSEP75', 'maskJUL75',
       'maskAUG75', 'strictJunPol', 'strictJulPol', 'strictSeplPol',
       'strictSepPol', 'strictAuglPol', 'strictAugPol'],
      dtype='object')

In [6]:
#Combining State and Date; 
#months as columns and dates as rows

In [7]:
oct_df = df[['State', 'tot_cases_Oct', 'case_rate_Oct', 'Wk_case_rate_Oct', 'Wk_OctHI']]
oct_df

,State,tot_cases_Oct,case_rate_Oct,Wk_case_rate_Oct,Wk_OctHI
0,Alabama,192285,766.522169,348.419168,1
1,Alaska,15274,1018.392580,462.905718,1
2,Arizona,245946,376.975777,171.352626,0
3,Arkansas,112190,944.163372,429.165169,1
4,California,922005,281.887455,128.130662,0
5,Colorado,107350,639.272229,290.578286,1
6,Connecticut,71207,383.054716,174.115780,0
7,Delaware,25126,463.459319,210.663327,1
8,District of Columbia,17266,274.885264,124.947847,0
9,Florida,791997,437.411074,198.823215,0
10,Georgia,360790,402.771934,183.078152,0
11,Hawaii,14995,169.930615,77.241189,0
12,Idaho,64608,1262.405117,573.820508,1
13,Illinois,416599,953.580389,433.445631,1
14,Indiana,179358,881.418148,400.644613,1
15,Iowa,127966,1240.416219,563.825554,1
16,Kansas,85181,872.957738,396.798972,1
17,Kentucky,107219,859.037803,390.471729,1
18,Louisiana,186649,412.816743,187.643974,0
19,Maine,6668,92.024175,41.829170,0
20,Maryland,146145,341.318098,155.144590,0
21,Massachusetts,164417,359.346960,163.339527,0
22,Michigan,197406,594.701616,270.318917,1
23,Minnesota,148472,874.844316,397.656507,1
24,Mississippi,120500,726.240521,330.109328,1
25,Missouri,185535,968.190584,440.086629,1
26,Montana,32801,1815.905642,825.411655,1
27,Nebraska,70732,1301.069888,591.395404,1
28,Nevada,100763,671.329634,305.149834,1
29,New Hampshire,11084,207.249923,94.204510,0
30,New Jersey,237886,367.150444,166.886565,0
31,New Mexico,46490,813.371047,369.714112,1
32,New York,244271,152.481080,69.309582,0
33,North Carolina,274635,610.244922,277.384055,1
34,North Dakota,45043,2995.163123,1361.437783,1
35,Ohio,215697,527.927728,239.967149,1
36,Oklahoma,129191,903.443568,410.656167,1
37,Oregon,44921,272.891227,124.041467,0
38,Pennsylvania,208027,383.221701,174.191682,0
39,Rhode Island,32874,767.066184,348.666447,1
40,South Carolina,176612,556.838076,253.108217,1
41,South Dakota,45992,2668.033672,1212.742578,1
42,Tennessee,260672,944.960547,429.527521,1
43,Texas,900596,522.932895,237.696771,1
44,Utah,114656,1298.020748,590.009431,1
45,Vermont,2157,64.424213,29.283733,0
46,Virginia,182393,394.492707,179.314867,0
47,Washington,107501,262.367442,119.257928,0
48,West Virginia,24460,480.540938,218.427699,1
49,Wisconsin,237870,1867.724048,848.965476,1
50,Wyoming,13298,1269.958653,577.253933,1

In [8]:
#Add maskOCT75, maskOctPol, adh_OCTavg to new_oct_df
oct_df_new = pd.DataFrame(oct_df)
oct_df_new

,State,tot_cases_Oct,case_rate_Oct,Wk_case_rate_Oct,Wk_OctHI
0,Alabama,192285,766.522169,348.419168,1
1,Alaska,15274,1018.392580,462.905718,1
2,Arizona,245946,376.975777,171.352626,0
3,Arkansas,112190,944.163372,429.165169,1
4,California,922005,281.887455,128.130662,0
5,Colorado,107350,639.272229,290.578286,1
6,Connecticut,71207,383.054716,174.115780,0
7,Delaware,25126,463.459319,210.663327,1
8,District of Columbia,17266,274.885264,124.947847,0
9,Florida,791997,437.411074,198.823215,0
10,Georgia,360790,402.771934,183.078152,0
11,Hawaii,14995,169.930615,77.241189,0
12,Idaho,64608,1262.405117,573.820508,1
13,Illinois,416599,953.580389,433.445631,1
14,Indiana,179358,881.418148,400.644613,1
15,Iowa,127966,1240.416219,563.825554,1
16,Kansas,85181,872.957738,396.798972,1
17,Kentucky,107219,859.037803,390.471729,1
18,Louisiana,186649,412.816743,187.643974,0
19,Maine,6668,92.024175,41.829170,0
20,Maryland,146145,341.318098,155.144590,0
21,Massachusetts,164417,359.346960,163.339527,0
22,Michigan,197406,594.701616,270.318917,1
23,Minnesota,148472,874.844316,397.656507,1
24,Mississippi,120500,726.240521,330.109328,1
25,Missouri,185535,968.190584,440.086629,1
26,Montana,32801,1815.905642,825.411655,1
27,Nebraska,70732,1301.069888,591.395404,1
28,Nevada,100763,671.329634,305.149834,1
29,New Hampshire,11084,207.249923,94.204510,0
30,New Jersey,237886,367.150444,166.886565,0
31,New Mexico,46490,813.371047,369.714112,1
32,New York,244271,152.481080,69.309582,0
33,North Carolina,274635,610.244922,277.384055,1
34,North Dakota,45043,2995.163123,1361.437783,1
35,Ohio,215697,527.927728,239.967149,1
36,Oklahoma,129191,903.443568,410.656167,1
37,Oregon,44921,272.891227,124.041467,0
38,Pennsylvania,208027,383.221701,174.191682,0
39,Rhode Island,32874,767.066184,348.666447,1
40,South Carolina,176612,556.838076,253.108217,1
41,South Dakota,45992,2668.033672,1212.742578,1
42,Tennessee,260672,944.960547,429.527521,1
43,Texas,900596,522.932895,237.696771,1
44,Utah,114656,1298.020748,590.009431,1
45,Vermont,2157,64.424213,29.283733,0
46,Virginia,182393,394.492707,179.314867,0
47,Washington,107501,262.367442,119.257928,0
48,West Virginia,24460,480.540938,218.427699,1
49,Wisconsin,237870,1867.724048,848.965476,1
50,Wyoming,13298,1269.958653,577.253933,1

In [9]:
oct_df_new['maskOCT75'] = np.nan
oct_df_new['maskOctPol'] = np.nan
oct_df_new['adh_OCTavg'] = np.nan
oct_df_new['strictOctpol']= np.nan
oct_df_new['Month'] = "2020-10"
oct_df_new

,State,tot_cases_Oct,case_rate_Oct,Wk_case_rate_Oct,Wk_OctHI,maskOCT75,maskOctPol,adh_OCTavg,strictOctpol,Month
0,Alabama,192285,766.522169,348.419168,1,NaN,NaN,NaN,NaN,2020-10
1,Alaska,15274,1018.392580,462.905718,1,NaN,NaN,NaN,NaN,2020-10
2,Arizona,245946,376.975777,171.352626,0,NaN,NaN,NaN,NaN,2020-10
3,Arkansas,112190,944.163372,429.165169,1,NaN,NaN,NaN,NaN,2020-10
4,California,922005,281.887455,128.130662,0,NaN,NaN,NaN,NaN,2020-10
5,Colorado,107350,639.272229,290.578286,1,NaN,NaN,NaN,NaN,2020-10
6,Connecticut,71207,383.054716,174.115780,0,NaN,NaN,NaN,NaN,2020-10
7,Delaware,25126,463.459319,210.663327,1,NaN,NaN,NaN,NaN,2020-10
8,District of Columbia,17266,274.885264,124.947847,0,NaN,NaN,NaN,NaN,2020-10
9,Florida,791997,437.411074,198.823215,0,NaN,NaN,NaN,NaN,2020-10
10,Georgia,360790,402.771934,183.078152,0,NaN,NaN,NaN,NaN,2020-10
11,Hawaii,14995,169.930615,77.241189,0,NaN,NaN,NaN,NaN,2020-10
12,Idaho,64608,1262.405117,573.820508,1,NaN,NaN,NaN,NaN,2020-10
13,Illinois,416599,953.580389,433.445631,1,NaN,NaN,NaN,NaN,2020-10
14,Indiana,179358,881.418148,400.644613,1,NaN,NaN,NaN,NaN,2020-10
15,Iowa,127966,1240.416219,563.825554,1,NaN,NaN,NaN,NaN,2020-10
16,Kansas,85181,872.957738,396.798972,1,NaN,NaN,NaN,NaN,2020-10
17,Kentucky,107219,859.037803,390.471729,1,NaN,NaN,NaN,NaN,2020-10
18,Louisiana,186649,412.816743,187.643974,0,NaN,NaN,NaN,NaN,2020-10
19,Maine,6668,92.024175,41.829170,0,NaN,NaN,NaN,NaN,2020-10
20,Maryland,146145,341.318098,155.144590,0,NaN,NaN,NaN,NaN,2020-10
21,Massachusetts,164417,359.346960,163.339527,0,NaN,NaN,NaN,NaN,2020-10
22,Michigan,197406,594.701616,270.318917,1,NaN,NaN,NaN,NaN,2020-10
23,Minnesota,148472,874.844316,397.656507,1,NaN,NaN,NaN,NaN,2020-10
24,Mississippi,120500,726.240521,330.109328,1,NaN,NaN,NaN,NaN,2020-10
25,Missouri,185535,968.190584,440.086629,1,NaN,NaN,NaN,NaN,2020-10
26,Montana,32801,1815.905642,825.411655,1,NaN,NaN,NaN,NaN,2020-10
27,Nebraska,70732,1301.069888,591.395404,1,NaN,NaN,NaN,NaN,2020-10
28,Nevada,100763,671.329634,305.149834,1,NaN,NaN,NaN,NaN,2020-10
29,New Hampshire,11084,207.249923,94.204510,0,NaN,NaN,NaN,NaN,2020-10
30,New Jersey,237886,367.150444,166.886565,0,NaN,NaN,NaN,NaN,2020-10
31,New Mexico,46490,813.371047,369.714112,1,NaN,NaN,NaN,NaN,2020-10
32,New York,244271,152.481080,69.309582,0,NaN,NaN,NaN,NaN,2020-10
33,North Carolina,274635,610.244922,277.384055,1,NaN,NaN,NaN,NaN,2020-10
34,North Dakota,45043,2995.163123,1361.437783,1,NaN,NaN,NaN,NaN,2020-10
35,Ohio,215697,527.927728,239.967149,1,NaN,NaN,NaN,NaN,2020-10
36,Oklahoma,129191,903.443568,410.656167,1,NaN,NaN,NaN,NaN,2020-10
37,Oregon,44921,272.891227,124.041467,0,NaN,NaN,NaN,NaN,2020-10
38,Pennsylvania,208027,383.221701,174.191682,0,NaN,NaN,NaN,NaN,2020-10
39,Rhode Island,32874,767.066184,348.666447,1,NaN,NaN,NaN,NaN,2020-10
40,South Carolina,176612,556.838076,253.108217,1,NaN,NaN,NaN,NaN,2020-10
41,South Dakota,45992,2668.033672,1212.742578,1,NaN,NaN,NaN,NaN,2020-10
42,Tennessee,260672,944.960547,429.527521,1,NaN,NaN,NaN,NaN,2020-10
43,Texas,900596,522.932895,237.696771,1,NaN,NaN,NaN,NaN,2020-10
44,Utah,114656,1298.020748,590.009431,1,NaN,NaN,NaN,NaN,2020-10
45,Vermont,2157,64.424213,29.283733,0,NaN,NaN,NaN,NaN,2020-10
46,Virginia,182393,394.492707,179.314867,0,NaN,NaN,NaN,NaN,2020-10
47,Washington,107501,262.367442,119.257928,0,NaN,NaN,NaN,NaN,2020-10
48,West Virginia,24460,480.540938,218.427699,1,NaN,NaN,NaN,NaN,2020-10
49,Wisconsin,237870,1867.724048,848.965476,1,NaN,NaN,NaN,NaN,2020-10
50,Wyoming,13298,1269.958653,577.253933,1,NaN,NaN,NaN,NaN,2020-10

In [10]:
oct_df_new.columns

Index(['State', 'tot_cases_Oct', 'case_rate_Oct', 'Wk_case_rate_Oct',
       'Wk_OctHI', 'maskOCT75', 'maskOctPol', 'adh_OCTavg', 'strictOctpol',
       'Month'],
      dtype='object')

In [11]:
#export data into csv
oct_df_new.to_csv('Months/oct_df_new.csv', index = False)

In [12]:
sep_df = df[['State', 'AdhSEPavg', 'tot_cases_Sep', 'case_rate_Sep', 'MaskSepPol', 'Wk_case_rate_Sep', 'Wk_SepHI', 'maskSEP75', 'strictSepPol']]
sep_df

,State,AdhSEPavg,tot_cases_Sep,case_rate_Sep,MaskSepPol,Wk_case_rate_Sep,Wk_SepHI,maskSEP75,strictSepPol
0,Alabama,59.83,154701,584.171309,1,265.532413,1,0,
1,Alaska,52.33,7824,350.080993,1,159.127724,0,0,1
2,Arizona,67.97,218507,229.051356,0,104.114253,0,0,
3,Arkansas,60.20,83697,744.680569,1,338.491168,1,0,1
4,California,72.47,810625,269.638081,1,122.562764,0,0,
5,Colorado,63.57,70536,227.688854,1,103.494934,0,0,
6,Connecticut,71.37,57550,131.013296,1,59.551498,0,0,
7,Delaware,70.90,20613,316.093016,1,143.678644,0,0,1
8,District of Columbia,72.33,15326,189.019042,1,85.917746,0,0,1
9,Florida,65.93,698051,379.099530,0,172.317968,0,0,
10,Georgia,58.27,318026,447.895878,0,203.589036,1,0,
11,Hawaii,73.77,12589,335.764815,1,152.620370,0,0,1
12,Idaho,42.60,42048,557.338429,0,253.335650,1,0,
13,Illinois,64.63,295763,465.899889,1,211.772677,1,0,1
14,Indiana,59.23,120019,383.573380,1,174.351537,0,0,
15,Iowa,48.10,88830,760.902294,0,345.864679,1,0,
16,Kansas,55.37,59749,588.230448,1,267.377476,1,0,
17,Kentucky,63.30,68840,457.598396,1,207.999271,1,0,
18,Louisiana,57.53,167458,399.329374,1,181.513352,0,0,1
19,Maine,61.10,5431,65.689043,1,29.858656,0,0,1
20,Maryland,71.90,125510,275.353641,1,125.160746,0,0,1
21,Massachusetts,71.70,139649,166.078999,1,75.490454,0,0,1
22,Michigan,65.03,138014,250.218863,1,113.735847,0,0,1
23,Minnesota,61.83,99134,412.615575,1,187.552534,0,0,
24,Mississippi,60.97,98886,514.154365,1,233.706530,1,0,
25,Missouri,51.57,126113,674.810360,0,306.731982,1,0,
26,Montana,51.63,13393,552.032321,0,250.923782,1,0,
27,Nebraska,50.43,45564,582.969053,0,264.985933,1,0,
28,Nevada,66.73,80085,344.170880,1,156.441309,0,0,
29,New Hampshire,63.23,8266,72.883135,0,33.128698,0,0,
30,New Jersey,68.47,205275,149.906723,1,68.139420,0,0,
31,New Mexico,70.37,29435,194.722603,1,88.510274,0,0,
32,New York,71.67,214608,72.423758,1,32.919890,0,0,1
33,North Carolina,61.20,210632,413.030636,1,187.741198,0,0,
34,North Dakota,39.63,22218,1340.835785,0,609.470811,1,0,
35,Ohio,60.10,153987,263.749989,1,119.886359,0,0,
36,Oklahoma,50.50,93442,741.324614,0,336.965734,1,0,
37,Oregon,60.93,33509,162.510408,1,73.868367,0,0,
38,Pennsylvania,63.43,158967,194.829100,1,88.558682,0,0,
39,Rhode Island,71.27,24748,264.215881,1,120.098128,0,0,
40,South Carolina,60.90,147942,562.276328,0,255.580149,1,0,
41,South Dakota,37.50,22389,1003.776596,0,456.262089,1,0,
42,Tennessee,55.00,196139,603.381902,0,274.264501,1,0,
43,Texas,67.93,748967,469.025238,1,213.193290,1,0,
44,Utah,54.30,73042,631.636472,1,287.107487,1,0,
45,Vermont,69.37,1755,20.192664,1,9.178483,0,0,
46,Virginia,64.80,148721,317.567098,1,144.348681,0,0,1
47,Washington,66.70,87522,169.234157,1,76.924617,0,0,
48,West Virginia,58.40,15848,312.362769,1,141.983077,0,0,
49,Wisconsin,59.33,129123,833.929590,1,379.058905,1,0,
50,Wyoming,31.60,5948,363.882030,0,165.400923,0,0,

In [13]:
sep_df_new = pd.DataFrame(sep_df)

In [45]:
sep_df_new["Month"] = "2020-09"
sep_df_new1 = sep_df_new.replace(r'^\s*$', np.NaN, regex=True)
sep_df_new1

,State,AdhSEPavg,tot_cases_Sep,case_rate_Sep,MaskSepPol,Wk_case_rate_Sep,Wk_SepHI,maskSEP75,strictSepPol,Month
0,Alabama,59.83,154701,584.171309,1,265.532413,1,0,NaN,2020-09
1,Alaska,52.33,7824,350.080993,1,159.127724,0,0,1,2020-09
2,Arizona,67.97,218507,229.051356,0,104.114253,0,0,NaN,2020-09
3,Arkansas,60.20,83697,744.680569,1,338.491168,1,0,1,2020-09
4,California,72.47,810625,269.638081,1,122.562764,0,0,NaN,2020-09
5,Colorado,63.57,70536,227.688854,1,103.494934,0,0,NaN,2020-09
6,Connecticut,71.37,57550,131.013296,1,59.551498,0,0,NaN,2020-09
7,Delaware,70.90,20613,316.093016,1,143.678644,0,0,1,2020-09
8,District of Columbia,72.33,15326,189.019042,1,85.917746,0,0,1,2020-09
9,Florida,65.93,698051,379.099530,0,172.317968,0,0,NaN,2020-09
10,Georgia,58.27,318026,447.895878,0,203.589036,1,0,NaN,2020-09
11,Hawaii,73.77,12589,335.764815,1,152.620370,0,0,1,2020-09
12,Idaho,42.60,42048,557.338429,0,253.335650,1,0,NaN,2020-09
13,Illinois,64.63,295763,465.899889,1,211.772677,1,0,1,2020-09
14,Indiana,59.23,120019,383.573380,1,174.351537,0,0,NaN,2020-09
15,Iowa,48.10,88830,760.902294,0,345.864679,1,0,NaN,2020-09
16,Kansas,55.37,59749,588.230448,1,267.377476,1,0,NaN,2020-09
17,Kentucky,63.30,68840,457.598396,1,207.999271,1,0,NaN,2020-09
18,Louisiana,57.53,167458,399.329374,1,181.513352,0,0,1,2020-09
19,Maine,61.10,5431,65.689043,1,29.858656,0,0,1,2020-09
20,Maryland,71.90,125510,275.353641,1,125.160746,0,0,1,2020-09
21,Massachusetts,71.70,139649,166.078999,1,75.490454,0,0,1,2020-09
22,Michigan,65.03,138014,250.218863,1,113.735847,0,0,1,2020-09
23,Minnesota,61.83,99134,412.615575,1,187.552534,0,0,NaN,2020-09
24,Mississippi,60.97,98886,514.154365,1,233.706530,1,0,NaN,2020-09
25,Missouri,51.57,126113,674.810360,0,306.731982,1,0,NaN,2020-09
26,Montana,51.63,13393,552.032321,0,250.923782,1,0,NaN,2020-09
27,Nebraska,50.43,45564,582.969053,0,264.985933,1,0,NaN,2020-09
28,Nevada,66.73,80085,344.170880,1,156.441309,0,0,NaN,2020-09
29,New Hampshire,63.23,8266,72.883135,0,33.128698,0,0,NaN,2020-09
30,New Jersey,68.47,205275,149.906723,1,68.139420,0,0,NaN,2020-09
31,New Mexico,70.37,29435,194.722603,1,88.510274,0,0,NaN,2020-09
32,New York,71.67,214608,72.423758,1,32.919890,0,0,1,2020-09
33,North Carolina,61.20,210632,413.030636,1,187.741198,0,0,NaN,2020-09
34,North Dakota,39.63,22218,1340.835785,0,609.470811,1,0,NaN,2020-09
35,Ohio,60.10,153987,263.749989,1,119.886359,0,0,NaN,2020-09
36,Oklahoma,50.50,93442,741.324614,0,336.965734,1,0,NaN,2020-09
37,Oregon,60.93,33509,162.510408,1,73.868367,0,0,NaN,2020-09
38,Pennsylvania,63.43,158967,194.829100,1,88.558682,0,0,NaN,2020-09
39,Rhode Island,71.27,24748,264.215881,1,120.098128,0,0,NaN,2020-09
40,South Carolina,60.90,147942,562.276328,0,255.580149,1,0,NaN,2020-09
41,South Dakota,37.50,22389,1003.776596,0,456.262089,1,0,NaN,2020-09
42,Tennessee,55.00,196139,603.381902,0,274.264501,1,0,NaN,2020-09
43,Texas,67.93,748967,469.025238,1,213.193290,1,0,NaN,2020-09
44,Utah,54.30,73042,631.636472,1,287.107487,1,0,NaN,2020-09
45,Vermont,69.37,1755,20.192664,1,9.178483,0,0,NaN,2020-09
46,Virginia,64.80,148721,317.567098,1,144.348681,0,0,1,2020-09
47,Washington,66.70,87522,169.234157,1,76.924617,0,0,NaN,2020-09
48,West Virginia,58.40,15848,312.362769,1,141.983077,0,0,NaN,2020-09
49,Wisconsin,59.33,129123,833.929590,1,379.058905,1,0,NaN,2020-09
50,Wyoming,31.60,5948,363.882030,0,165.400923,0,0,NaN,2020-09

In [47]:
#export data into csv
sep_df_new1.to_csv('Months/sep_df_new.csv', index = False)

In [16]:
aug_df = df[['State', 'adh_AUGavg', 'tot_cases_Aug', 'case_rate_Aug', 'MaskAugPol', 'Wk_case_rate_Aug', 'Wk_AugHI', 'maskAUG75', 'strictAugPol']]
aug_df

,State,adh_AUGavg,tot_cases_Aug,case_rate_Aug,MaskAugPol,Wk_case_rate_Aug,Wk_AugHI,maskAUG75,strictAugPol
0,Alabama,65.354839,126058,778.901877,1,354.046308,1,0,
1,Alaska,56.838710,5263,310.712260,1,141.232845,0,0,1
2,Arizona,87.258065,201835,382.278910,0,173.763141,0,1,
3,Arkansas,59.000000,61224,620.086659,1,281.857572,1,0,1
4,California,74.612903,704085,532.738945,1,242.154066,1,0,
5,Colorado,61.709677,57424,184.328644,1,83.785747,0,0,
6,Connecticut,73.354839,52879,86.080027,1,39.127285,0,0,
7,Delaware,68.419355,17535,272.961416,1,124.073371,0,0,1
8,District of Columbia,71.774194,13992,264.399950,1,120.181795,0,0,1
9,Florida,71.645161,616629,705.842520,0,320.837509,1,0,
10,Georgia,59.967742,270471,792.273229,0,360.124195,1,0,
11,Hawaii,77.580645,7835,412.890431,1,187.677469,0,1,1
12,Idaho,41.064516,32088,636.070876,0,289.123125,1,0,
13,Illinois,61.516129,236725,446.715590,1,203.052541,1,0,1
14,Indiana,61.903226,94196,416.534281,1,189.333764,0,0,
15,Iowa,48.612903,64823,641.538857,0,291.608571,1,0,
16,Kansas,49.580645,42612,508.012525,1,230.914784,1,0,
17,Kentucky,70.483871,48396,408.378142,1,185.626428,0,0,
18,Louisiana,58.064516,148894,701.558297,1,318.890135,1,0,1
19,Maine,65.032258,4548,45.454140,1,20.660973,0,0,1
20,Maryland,73.419355,108863,322.511281,1,146.596037,0,0,1
21,Massachusetts,74.645161,128202,153.645200,1,69.838727,0,0,1
22,Michigan,73.935484,113025,224.805462,1,102.184301,0,0,1
23,Minnesota,57.709677,75864,366.619666,1,166.645303,0,0,
24,Mississippi,53.032258,83584,796.431899,1,362.014500,1,0,
25,Missouri,47.428571,84697,560.071743,0,254.578065,1,0,
26,Montana,52.800000,7493,330.096615,0,150.043916,0,0,
27,Nebraska,46.200000,34287,417.492070,0,189.769123,0,0,
28,Nevada,66.400000,69484,687.367783,1,312.439901,1,0,
29,New Hampshire,67.000000,7275,50.893168,0,23.133258,0,0,
30,New Jersey,67.800000,191960,115.962392,1,52.710178,0,0,
31,New Mexico,69.600000,25352,226.627922,1,103.012692,0,0,
32,New York,69.600000,200519,54.761182,1,24.891446,0,0,1
33,North Carolina,56.000000,167313,430.631562,1,195.741619,0,0,
34,North Dakota,37.200000,12000,708.341316,0,321.973325,1,0,
35,Ohio,59.600000,123157,273.742204,1,124.428275,0,0,
36,Oklahoma,51.000000,64108,631.872207,0,287.214640,1,0,
37,Oregon,58.600000,26713,196.562030,1,89.346377,0,0,
38,Pennsylvania,60.366667,134025,164.732215,1,74.878279,0,0,
39,Rhode Island,73.633333,21949,276.298637,1,125.590289,0,0,
40,South Carolina,71.200000,118992,582.203634,0,264.638015,1,0,
41,South Dakota,33.666667,13509,536.364859,0,243.802209,1,0,
42,Tennessee,57.533333,154933,717.129187,0,325.967812,1,0,
43,Texas,69.133333,612969,662.242337,1,301.019244,1,0,
44,Utah,54.400000,52792,374.147135,1,170.066879,0,0,
45,Vermont,72.533333,1629,34.455736,1,15.661698,0,0,
46,Virginia,79.433333,121615,361.009096,1,164.095044,0,1,1
47,Washington,62.933333,74635,247.304854,1,112.411297,0,0,
48,West Virginia,63.066667,10250,201.322771,1,91.510350,0,0,
49,Wisconsin,59.666667,80568,405.912716,1,184.505780,0,0,
50,Wyoming,34.766667,3842,192.826375,0,87.648352,0,0,

In [17]:
aug_df_new = pd.DataFrame(aug_df)

In [46]:
aug_df_new["Month"] = "2020-08"
aug_df_new1 = aug_df_new.replace(r'^\s*$', np.NaN, regex=True)
aug_df_new1

,State,adh_AUGavg,tot_cases_Aug,case_rate_Aug,MaskAugPol,Wk_case_rate_Aug,Wk_AugHI,maskAUG75,strictAugPol,Month
0,Alabama,65.354839,126058,778.901877,1,354.046308,1,0,NaN,2020-08
1,Alaska,56.838710,5263,310.712260,1,141.232845,0,0,1,2020-08
2,Arizona,87.258065,201835,382.278910,0,173.763141,0,1,NaN,2020-08
3,Arkansas,59.000000,61224,620.086659,1,281.857572,1,0,1,2020-08
4,California,74.612903,704085,532.738945,1,242.154066,1,0,NaN,2020-08
5,Colorado,61.709677,57424,184.328644,1,83.785747,0,0,NaN,2020-08
6,Connecticut,73.354839,52879,86.080027,1,39.127285,0,0,NaN,2020-08
7,Delaware,68.419355,17535,272.961416,1,124.073371,0,0,1,2020-08
8,District of Columbia,71.774194,13992,264.399950,1,120.181795,0,0,1,2020-08
9,Florida,71.645161,616629,705.842520,0,320.837509,1,0,NaN,2020-08
10,Georgia,59.967742,270471,792.273229,0,360.124195,1,0,NaN,2020-08
11,Hawaii,77.580645,7835,412.890431,1,187.677469,0,1,1,2020-08
12,Idaho,41.064516,32088,636.070876,0,289.123125,1,0,NaN,2020-08
13,Illinois,61.516129,236725,446.715590,1,203.052541,1,0,1,2020-08
14,Indiana,61.903226,94196,416.534281,1,189.333764,0,0,NaN,2020-08
15,Iowa,48.612903,64823,641.538857,0,291.608571,1,0,NaN,2020-08
16,Kansas,49.580645,42612,508.012525,1,230.914784,1,0,NaN,2020-08
17,Kentucky,70.483871,48396,408.378142,1,185.626428,0,0,NaN,2020-08
18,Louisiana,58.064516,148894,701.558297,1,318.890135,1,0,1,2020-08
19,Maine,65.032258,4548,45.454140,1,20.660973,0,0,1,2020-08
20,Maryland,73.419355,108863,322.511281,1,146.596037,0,0,1,2020-08
21,Massachusetts,74.645161,128202,153.645200,1,69.838727,0,0,1,2020-08
22,Michigan,73.935484,113025,224.805462,1,102.184301,0,0,1,2020-08
23,Minnesota,57.709677,75864,366.619666,1,166.645303,0,0,NaN,2020-08
24,Mississippi,53.032258,83584,796.431899,1,362.014500,1,0,NaN,2020-08
25,Missouri,47.428571,84697,560.071743,0,254.578065,1,0,NaN,2020-08
26,Montana,52.800000,7493,330.096615,0,150.043916,0,0,NaN,2020-08
27,Nebraska,46.200000,34287,417.492070,0,189.769123,0,0,NaN,2020-08
28,Nevada,66.400000,69484,687.367783,1,312.439901,1,0,NaN,2020-08
29,New Hampshire,67.000000,7275,50.893168,0,23.133258,0,0,NaN,2020-08
30,New Jersey,67.800000,191960,115.962392,1,52.710178,0,0,NaN,2020-08
31,New Mexico,69.600000,25352,226.627922,1,103.012692,0,0,NaN,2020-08
32,New York,69.600000,200519,54.761182,1,24.891446,0,0,1,2020-08
33,North Carolina,56.000000,167313,430.631562,1,195.741619,0,0,NaN,2020-08
34,North Dakota,37.200000,12000,708.341316,0,321.973325,1,0,NaN,2020-08
35,Ohio,59.600000,123157,273.742204,1,124.428275,0,0,NaN,2020-08
36,Oklahoma,51.000000,64108,631.872207,0,287.214640,1,0,NaN,2020-08
37,Oregon,58.600000,26713,196.562030,1,89.346377,0,0,NaN,2020-08
38,Pennsylvania,60.366667,134025,164.732215,1,74.878279,0,0,NaN,2020-08
39,Rhode Island,73.633333,21949,276.298637,1,125.590289,0,0,NaN,2020-08
40,South Carolina,71.200000,118992,582.203634,0,264.638015,1,0,NaN,2020-08
41,South Dakota,33.666667,13509,536.364859,0,243.802209,1,0,NaN,2020-08
42,Tennessee,57.533333,154933,717.129187,0,325.967812,1,0,NaN,2020-08
43,Texas,69.133333,612969,662.242337,1,301.019244,1,0,NaN,2020-08
44,Utah,54.400000,52792,374.147135,1,170.066879,0,0,NaN,2020-08
45,Vermont,72.533333,1629,34.455736,1,15.661698,0,0,NaN,2020-08
46,Virginia,79.433333,121615,361.009096,1,164.095044,0,1,1,2020-08
47,Washington,62.933333,74635,247.304854,1,112.411297,0,0,NaN,2020-08
48,West Virginia,63.066667,10250,201.322771,1,91.510350,0,0,NaN,2020-08
49,Wisconsin,59.666667,80568,405.912716,1,184.505780,0,0,NaN,2020-08
50,Wyoming,34.766667,3842,192.826375,0,87.648352,0,0,NaN,2020-08

In [48]:
#export data into csv
aug_df_new1.to_csv('Months/aug_df_new.csv', index = False)

In [20]:
jul_df = df[['State', 'adh_JULavg', 'tot_Cases_Jul', 'case_rate_Jul', 'MaskJulPol', 'Wk_case_rate_Jul', 'Wk_JulHI', 'maskJUL75', 'strictJulPol']]
jul_df

,State,adh_JULavg,tot_Cases_Jul,case_rate_Jul,MaskJulPol,Wk_case_rate_Jul,Wk_JulHI,maskJUL75,strictJulPol
0,Alabama,62.677419,87867,1015.727532,1,461.694333,1,0,0
1,Alaska,57.451613,2990,280.228831,1,127.376741,0,0,1
2,Arizona,83.129032,174010,1302.358644,0,591.981202,1,1,0
3,Arkansas,58.258065,42511,720.192564,1,327.360256,1,0,1
4,California,74.290323,493588,685.031060,1,311.377754,1,0,0
5,Colorado,61.129032,46809,244.741207,1,111.246003,0,0,0
6,Connecticut,78.548387,49810,92.446976,1,42.021353,0,1,0
7,Delaware,65.741935,14877,345.771665,1,157.168939,0,0,1
8,District of Columbia,69.387097,12126,254.906489,1,115.866586,0,0,1
9,Florida,66.903226,465030,1467.794303,0,667.179228,1,0,0
10,Georgia,57.612903,186352,989.515064,0,449.779575,1,0,0
11,Hawaii,78.096774,1989,81.010148,1,36.822794,0,1,1
12,Idaho,44.354839,20721,817.205865,0,371.457212,1,0,0
13,Illinois,65.645161,180118,283.147939,1,128.703609,0,0,1
14,Indiana,52.709677,66154,305.397076,1,138.816853,0,0,0
15,Iowa,50.483871,44582,495.551604,0,225.250729,1,0,0
16,Kansas,50.838710,27812,458.893205,1,208.587821,1,0,0
17,Kentucky,73.612903,30151,325.158086,1,147.799130,0,0,0
18,Louisiana,56.870968,116280,1251.614935,1,568.915880,1,0,1
19,Maine,70.967742,3937,47.834717,1,21.743053,0,0,1
20,Maryland,71.096774,89365,354.749176,1,161.249626,0,0,1
21,Massachusetts,79.645161,117612,126.659357,1,57.572435,0,1,1
22,Michigan,74.645161,90574,198.721179,1,90.327809,0,0,1
23,Minnesota,59.322581,55188,327.539102,1,148.881410,0,0,0
24,Mississippi,42.483871,59881,1074.576575,0,488.443898,1,0,0
25,Missouri,59.741935,50323,468.795724,0,213.088965,1,0,0
26,Montana,57.612903,3965,275.735466,0,125.334303,0,0,0
27,Nebraska,48.516129,26211,363.625461,0,165.284300,0,0,0
28,Nevada,69.400000,48312,961.899332,1,437.226969,1,0,0
29,New Hampshire,72.600000,6583,58.909577,0,26.777081,0,0,0
30,New Jersey,70.800000,181660,112.506037,1,51.139108,0,0,0
31,New Mexico,72.000000,20600,403.132540,1,183.242063,0,0,0
32,New York,80.600000,189866,59.582922,1,27.083146,0,1,1
33,North Carolina,53.200000,122148,548.031461,1,249.105210,1,0,0
34,North Dakota,36.800000,6602,397.080553,0,180.491160,0,0,0
35,Ohio,56.200000,91159,336.809506,1,153.095230,0,0,0
36,Oklahoma,48.800000,39105,654.237800,0,297.380818,1,0,0
37,Oregon,65.000000,18493,235.228794,1,106.922179,0,0,0
38,Pennsylvania,66.366667,112936,200.703188,1,91.228722,0,0,0
39,Rhode Island,77.833333,19022,208.521930,1,94.782695,0,1,0
40,South Carolina,58.533333,89016,1021.944509,0,464.520231,1,0,0
41,South Dakota,33.800000,8764,226.075810,0,102.761732,0,0,0
42,Tennessee,50.966667,105959,914.459055,0,415.663207,1,0,0
43,Texas,66.000000,420946,899.989899,1,409.086318,1,0,0
44,Utah,57.700000,40797,563.045430,1,255.929741,1,0,0
45,Vermont,76.600000,1414,33.013402,0,15.006092,0,1,0
46,Virginia,77.133333,90801,328.204998,1,149.184090,0,1,1
47,Washington,63.600000,55803,301.763925,1,137.165420,0,0,0
48,West Virginia,60.400000,6642,208.520841,1,94.782201,0,0,0
49,Wisconsin,60.433333,56934,434.045281,0,197.293309,0,0,0
50,Wyoming,36.633333,2726,214.078744,0,97.308520,0,0,0

In [21]:
jul_df_new = pd.DataFrame(jul_df)

In [22]:
jul_df_new['Month'] = "2020-07"
jul_df_new

,State,adh_JULavg,tot_Cases_Jul,case_rate_Jul,MaskJulPol,Wk_case_rate_Jul,Wk_JulHI,maskJUL75,strictJulPol,Month
0,Alabama,62.677419,87867,1015.727532,1,461.694333,1,0,0,2020-07
1,Alaska,57.451613,2990,280.228831,1,127.376741,0,0,1,2020-07
2,Arizona,83.129032,174010,1302.358644,0,591.981202,1,1,0,2020-07
3,Arkansas,58.258065,42511,720.192564,1,327.360256,1,0,1,2020-07
4,California,74.290323,493588,685.031060,1,311.377754,1,0,0,2020-07
5,Colorado,61.129032,46809,244.741207,1,111.246003,0,0,0,2020-07
6,Connecticut,78.548387,49810,92.446976,1,42.021353,0,1,0,2020-07
7,Delaware,65.741935,14877,345.771665,1,157.168939,0,0,1,2020-07
8,District of Columbia,69.387097,12126,254.906489,1,115.866586,0,0,1,2020-07
9,Florida,66.903226,465030,1467.794303,0,667.179228,1,0,0,2020-07
10,Georgia,57.612903,186352,989.515064,0,449.779575,1,0,0,2020-07
11,Hawaii,78.096774,1989,81.010148,1,36.822794,0,1,1,2020-07
12,Idaho,44.354839,20721,817.205865,0,371.457212,1,0,0,2020-07
13,Illinois,65.645161,180118,283.147939,1,128.703609,0,0,1,2020-07
14,Indiana,52.709677,66154,305.397076,1,138.816853,0,0,0,2020-07
15,Iowa,50.483871,44582,495.551604,0,225.250729,1,0,0,2020-07
16,Kansas,50.838710,27812,458.893205,1,208.587821,1,0,0,2020-07
17,Kentucky,73.612903,30151,325.158086,1,147.799130,0,0,0,2020-07
18,Louisiana,56.870968,116280,1251.614935,1,568.915880,1,0,1,2020-07
19,Maine,70.967742,3937,47.834717,1,21.743053,0,0,1,2020-07
20,Maryland,71.096774,89365,354.749176,1,161.249626,0,0,1,2020-07
21,Massachusetts,79.645161,117612,126.659357,1,57.572435,0,1,1,2020-07
22,Michigan,74.645161,90574,198.721179,1,90.327809,0,0,1,2020-07
23,Minnesota,59.322581,55188,327.539102,1,148.881410,0,0,0,2020-07
24,Mississippi,42.483871,59881,1074.576575,0,488.443898,1,0,0,2020-07
25,Missouri,59.741935,50323,468.795724,0,213.088965,1,0,0,2020-07
26,Montana,57.612903,3965,275.735466,0,125.334303,0,0,0,2020-07
27,Nebraska,48.516129,26211,363.625461,0,165.284300,0,0,0,2020-07
28,Nevada,69.400000,48312,961.899332,1,437.226969,1,0,0,2020-07
29,New Hampshire,72.600000,6583,58.909577,0,26.777081,0,0,0,2020-07
30,New Jersey,70.800000,181660,112.506037,1,51.139108,0,0,0,2020-07
31,New Mexico,72.000000,20600,403.132540,1,183.242063,0,0,0,2020-07
32,New York,80.600000,189866,59.582922,1,27.083146,0,1,1,2020-07
33,North Carolina,53.200000,122148,548.031461,1,249.105210,1,0,0,2020-07
34,North Dakota,36.800000,6602,397.080553,0,180.491160,0,0,0,2020-07
35,Ohio,56.200000,91159,336.809506,1,153.095230,0,0,0,2020-07
36,Oklahoma,48.800000,39105,654.237800,0,297.380818,1,0,0,2020-07
37,Oregon,65.000000,18493,235.228794,1,106.922179,0,0,0,2020-07
38,Pennsylvania,66.366667,112936,200.703188,1,91.228722,0,0,0,2020-07
39,Rhode Island,77.833333,19022,208.521930,1,94.782695,0,1,0,2020-07
40,South Carolina,58.533333,89016,1021.944509,0,464.520231,1,0,0,2020-07
41,South Dakota,33.800000,8764,226.075810,0,102.761732,0,0,0,2020-07
42,Tennessee,50.966667,105959,914.459055,0,415.663207,1,0,0,2020-07
43,Texas,66.000000,420946,899.989899,1,409.086318,1,0,0,2020-07
44,Utah,57.700000,40797,563.045430,1,255.929741,1,0,0,2020-07
45,Vermont,76.600000,1414,33.013402,0,15.006092,0,1,0,2020-07
46,Virginia,77.133333,90801,328.204998,1,149.184090,0,1,1,2020-07
47,Washington,63.600000,55803,301.763925,1,137.165420,0,0,0,2020-07
48,West Virginia,60.400000,6642,208.520841,1,94.782201,0,0,0,2020-07
49,Wisconsin,60.433333,56934,434.045281,0,197.293309,0,0,0,2020-07
50,Wyoming,36.633333,2726,214.078744,0,97.308520,0,0,0,2020-07

In [23]:
#export data into csv
jul_df_new.to_csv('Months/jul_df_new.csv', index = False)

In [25]:
jun_df = df[['State', 'adh_JUNEavg', 'tot_cases_Jun', 'case_rate_Jun', 'MaskJunPol', 'Wk_case_rate_Jun', 'Wk_JunHI', 'maskGT75', 'strictJunPol']]
jun_df

,State,adh_JUNEavg,tot_cases_Jun,case_rate_Jun,MaskJunPol,Wk_case_rate_Jun,Wk_JunHI,maskGT75,strictJunPol
0,Alabama,27.60,38064,404.206653,0,183.730297,0,0,0
1,Alaska,46.03,940,65.614555,1,29.824798,0,0,0
2,Arizona,21.77,79215,814.415508,0,370.188867,1,1,0
3,Arkansas,36.90,20777,448.140436,0,203.700198,1,0,0
4,California,48.70,222917,284.301898,1,129.228136,0,0,0
5,Colorado,48.00,32715,110.041509,0,50.018868,0,0,0
6,Connecticut,55.40,46514,120.972028,1,54.987286,0,1,0
7,Delaware,39.83,11510,195.529923,1,88.877238,0,0,1
8,District of Columbia,39.87,10327,216.224182,1,98.283719,0,0,1
9,Florida,45.10,149781,442.397632,0,201.089833,1,0,0
10,Georgia,34.77,81291,322.884376,0,146.765625,0,0,0
11,Hawaii,46.40,842,16.597546,1,7.544339,0,1,1
12,Idaho,34.00,6117,183.429254,0,83.376934,0,0,0
13,Illinois,32.40,144238,189.223001,1,86.010455,0,0,1
14,Indiana,19.63,45594,163.690456,0,74.404753,0,0,0
15,Iowa,30.50,28947,297.774693,0,135.352133,0,0,0
16,Kansas,30.50,14443,162.152106,0,73.705503,0,0,0
17,Kentucky,36.87,15624,132.507460,1,60.230663,0,0,0
18,Louisiana,36.90,58095,391.047657,0,177.748935,0,0,0
19,Maine,55.40,3294,70.301411,1,31.955187,0,0,1
20,Maryland,39.87,67918,241.345887,1,109.702676,0,0,1
21,Massachusetts,55.40,108882,172.898002,1,78.590001,0,1,1
22,Michigan,37.40,70728,133.485440,1,60.675200,0,0,1
23,Minnesota,30.50,36716,204.055867,0,92.752667,0,0,0
24,Mississippi,30.77,27900,408.178488,0,185.535677,0,0,0
25,Missouri,34.67,21551,136.930323,0,62.241056,0,0,0
26,Montana,34.00,1018,47.063094,0,21.392316,0,0,0
27,Nebraska,31.03,19177,262.405863,0,119.275392,0,0,0
28,Nevada,34.00,18684,327.061357,1,148.664253,0,0,0
29,New Hampshire,54.73,5782,83.179440,0,37.808837,0,0,0
30,New Jersey,50.60,171667,126.342715,1,57.428507,0,0,0
31,New Mexico,34.00,12147,212.606750,1,96.639432,0,0,0
32,New York,56.43,178275,55.557952,1,25.253614,0,1,1
33,North Carolina,37.30,64670,344.018984,1,156.372265,0,0,0
34,North Dakota,30.50,3576,131.091696,0,59.587135,0,0,0
35,Ohio,29.00,51789,139.240831,0,63.291287,0,0,0
36,Oklahoma,36.90,13217,175.310863,0,79.686756,0,0,0
37,Oregon,33.00,8656,105.526550,0,47.966613,0,0,0
38,Pennsylvania,51.57,87242,116.856842,0,53.116746,0,0,0
39,Rhode Island,55.20,16813,177.937455,1,80.880661,0,1,0
40,South Carolina,29.43,36399,476.585027,0,216.629558,1,0,0
41,South Dakota,30.50,6764,200.190130,0,90.995514,0,0,0
42,Tennessee,24.53,43509,297.986257,0,135.448299,0,0,0
43,Texas,42.47,159986,330.043429,0,150.019741,0,0,0
44,Utah,34.00,22746,399.319018,1,181.508645,0,0,0
45,Vermont,55.20,1208,36.378846,0,16.535839,0,1,0
46,Virginia,49.70,62787,203.725163,1,92.602347,0,1,1
47,Washington,42.80,32824,146.055893,1,66.389042,0,0,0
48,West Virginia,39.87,2905,49.940100,0,22.700045,0,0,0
49,Wisconsin,31.07,31662,227.722633,0,103.510288,0,0,0
50,Wyoming,34.00,1487,100.905558,0,45.866163,0,0,0

In [26]:
jun_df_new = pd.DataFrame(jun_df)

In [27]:
jun_df_new['Month'] = "2020-06"
jun_df_new

,State,adh_JUNEavg,tot_cases_Jun,case_rate_Jun,MaskJunPol,Wk_case_rate_Jun,Wk_JunHI,maskGT75,strictJunPol,Month
0,Alabama,27.60,38064,404.206653,0,183.730297,0,0,0,2020-06
1,Alaska,46.03,940,65.614555,1,29.824798,0,0,0,2020-06
2,Arizona,21.77,79215,814.415508,0,370.188867,1,1,0,2020-06
3,Arkansas,36.90,20777,448.140436,0,203.700198,1,0,0,2020-06
4,California,48.70,222917,284.301898,1,129.228136,0,0,0,2020-06
5,Colorado,48.00,32715,110.041509,0,50.018868,0,0,0,2020-06
6,Connecticut,55.40,46514,120.972028,1,54.987286,0,1,0,2020-06
7,Delaware,39.83,11510,195.529923,1,88.877238,0,0,1,2020-06
8,District of Columbia,39.87,10327,216.224182,1,98.283719,0,0,1,2020-06
9,Florida,45.10,149781,442.397632,0,201.089833,1,0,0,2020-06
10,Georgia,34.77,81291,322.884376,0,146.765625,0,0,0,2020-06
11,Hawaii,46.40,842,16.597546,1,7.544339,0,1,1,2020-06
12,Idaho,34.00,6117,183.429254,0,83.376934,0,0,0,2020-06
13,Illinois,32.40,144238,189.223001,1,86.010455,0,0,1,2020-06
14,Indiana,19.63,45594,163.690456,0,74.404753,0,0,0,2020-06
15,Iowa,30.50,28947,297.774693,0,135.352133,0,0,0,2020-06
16,Kansas,30.50,14443,162.152106,0,73.705503,0,0,0,2020-06
17,Kentucky,36.87,15624,132.507460,1,60.230663,0,0,0,2020-06
18,Louisiana,36.90,58095,391.047657,0,177.748935,0,0,0,2020-06
19,Maine,55.40,3294,70.301411,1,31.955187,0,0,1,2020-06
20,Maryland,39.87,67918,241.345887,1,109.702676,0,0,1,2020-06
21,Massachusetts,55.40,108882,172.898002,1,78.590001,0,1,1,2020-06
22,Michigan,37.40,70728,133.485440,1,60.675200,0,0,1,2020-06
23,Minnesota,30.50,36716,204.055867,0,92.752667,0,0,0,2020-06
24,Mississippi,30.77,27900,408.178488,0,185.535677,0,0,0,2020-06
25,Missouri,34.67,21551,136.930323,0,62.241056,0,0,0,2020-06
26,Montana,34.00,1018,47.063094,0,21.392316,0,0,0,2020-06
27,Nebraska,31.03,19177,262.405863,0,119.275392,0,0,0,2020-06
28,Nevada,34.00,18684,327.061357,1,148.664253,0,0,0,2020-06
29,New Hampshire,54.73,5782,83.179440,0,37.808837,0,0,0,2020-06
30,New Jersey,50.60,171667,126.342715,1,57.428507,0,0,0,2020-06
31,New Mexico,34.00,12147,212.606750,1,96.639432,0,0,0,2020-06
32,New York,56.43,178275,55.557952,1,25.253614,0,1,1,2020-06
33,North Carolina,37.30,64670,344.018984,1,156.372265,0,0,0,2020-06
34,North Dakota,30.50,3576,131.091696,0,59.587135,0,0,0,2020-06
35,Ohio,29.00,51789,139.240831,0,63.291287,0,0,0,2020-06
36,Oklahoma,36.90,13217,175.310863,0,79.686756,0,0,0,2020-06
37,Oregon,33.00,8656,105.526550,0,47.966613,0,0,0,2020-06
38,Pennsylvania,51.57,87242,116.856842,0,53.116746,0,0,0,2020-06
39,Rhode Island,55.20,16813,177.937455,1,80.880661,0,1,0,2020-06
40,South Carolina,29.43,36399,476.585027,0,216.629558,1,0,0,2020-06
41,South Dakota,30.50,6764,200.190130,0,90.995514,0,0,0,2020-06
42,Tennessee,24.53,43509,297.986257,0,135.448299,0,0,0,2020-06
43,Texas,42.47,159986,330.043429,0,150.019741,0,0,0,2020-06
44,Utah,34.00,22746,399.319018,1,181.508645,0,0,0,2020-06
45,Vermont,55.20,1208,36.378846,0,16.535839,0,1,0,2020-06
46,Virginia,49.70,62787,203.725163,1,92.602347,0,1,1,2020-06
47,Washington,42.80,32824,146.055893,1,66.389042,0,0,0,2020-06
48,West Virginia,39.87,2905,49.940100,0,22.700045,0,0,0,2020-06
49,Wisconsin,31.07,31662,227.722633,0,103.510288,0,0,0,2020-06
50,Wyoming,34.00,1487,100.905558,0,45.866163,0,0,0,2020-06

In [28]:
#export data into csv
jun_df_new.to_csv('Months/jun_df_new.csv', index = False)

In [29]:
may_df = df[['State', 'adh_AUGavg', 'tot_cases_Aug', 'case_rate_Aug', 'MaskAugPol', 'Wk_case_rate_Aug', 'Wk_AugHI', 'maskAUG75', 'strictAuglPol', 'strictAugPol']]

In [30]:
may_df = df[['State', 'tot_cases_May', 'case_rate_May', 'Wk_case_rate_May', 'Wk_MayHI']]
may_df

,State,tot_cases_May,case_rate_May,Wk_case_rate_May,Wk_MayHI
0,Alabama,18245,223.099883,101.409038,0
1,Alaska,460,14.353184,6.524175,0
2,Arizona,19936,168.820961,76.736801,0
3,Arkansas,7253,132.480439,60.218382,0
4,California,110583,156.068161,70.940073,0
5,Colorado,26378,194.417664,88.371665,0
6,Connecticut,42201,406.727425,184.876102,0
7,Delaware,9606,500.326568,227.421167,1
8,District of Columbia,8801,634.503202,288.410546,1
9,Florida,54764,98.120207,44.600094,0
10,Georgia,47009,196.978118,89.535508,0
11,Hawaii,607,3.178253,1.444661,0
12,Idaho,2839,46.109123,20.958692,0
13,Illinois,120260,531.431118,241.559599,1
14,Indiana,34574,248.640159,113.018254,0
15,Iowa,19552,393.240087,178.745494,0
16,Kansas,9719,188.136260,85.516482,0
17,Kentucky,9704,111.825552,50.829796,0
18,Louisiana,39916,255.378061,116.080937,0
19,Maine,2349,91.205851,41.457205,0
20,Maryland,53327,493.823689,224.465313,1
21,Massachusetts,96965,504.316066,229.234576,1
22,Michigan,57397,160.390802,72.904910,0
23,Minnesota,25208,355.909747,161.777158,0
24,Mississippi,15752,286.947999,130.430909,0
25,Missouri,13147,90.999031,41.363196,0
26,Montana,515,5.801018,2.636826,0
27,Nebraska,14101,507.648852,230.749478,1
28,Nevada,8610,116.974595,53.170270,0
29,New Hampshire,4651,184.230325,83.741057,0
30,New Jersey,160445,470.525850,213.875386,1
31,New Mexico,7689,204.022359,92.737436,0
32,New York,167467,157.158887,71.435858,0
33,North Carolina,28589,172.386110,78.357323,0
34,North Dakota,2577,198.146607,90.066640,0
35,Ohio,35513,149.592355,67.996525,0
36,Oklahoma,6280,67.273680,30.578945,0
37,Oregon,4243,41.440632,18.836651,0
38,Pennsylvania,72282,207.147499,94.157954,0
39,Rhode Island,14928,595.358900,270.617682,1
40,South Carolina,11861,111.989130,50.904150,0
41,South Dakota,4993,287.568430,130.712923,0
42,Tennessee,23159,181.925369,82.693350,0
43,Texas,64287,124.845319,56.747872,0
44,Utah,9944,161.917280,73.598764,0
45,Vermont,981,18.429812,8.377187,0
46,Virginia,45398,333.863705,151.756230,0
47,Washington,21702,96.849687,44.022585,0
48,West Virginia,2010,49.382110,22.446414,0
49,Wisconsin,18403,198.353472,90.160669,0
50,Wyoming,903,59.437521,27.017055,0

In [31]:
#add empty columns to May
may_df_new = pd.DataFrame(may_df)
may_df_new

,State,tot_cases_May,case_rate_May,Wk_case_rate_May,Wk_MayHI
0,Alabama,18245,223.099883,101.409038,0
1,Alaska,460,14.353184,6.524175,0
2,Arizona,19936,168.820961,76.736801,0
3,Arkansas,7253,132.480439,60.218382,0
4,California,110583,156.068161,70.940073,0
5,Colorado,26378,194.417664,88.371665,0
6,Connecticut,42201,406.727425,184.876102,0
7,Delaware,9606,500.326568,227.421167,1
8,District of Columbia,8801,634.503202,288.410546,1
9,Florida,54764,98.120207,44.600094,0
10,Georgia,47009,196.978118,89.535508,0
11,Hawaii,607,3.178253,1.444661,0
12,Idaho,2839,46.109123,20.958692,0
13,Illinois,120260,531.431118,241.559599,1
14,Indiana,34574,248.640159,113.018254,0
15,Iowa,19552,393.240087,178.745494,0
16,Kansas,9719,188.136260,85.516482,0
17,Kentucky,9704,111.825552,50.829796,0
18,Louisiana,39916,255.378061,116.080937,0
19,Maine,2349,91.205851,41.457205,0
20,Maryland,53327,493.823689,224.465313,1
21,Massachusetts,96965,504.316066,229.234576,1
22,Michigan,57397,160.390802,72.904910,0
23,Minnesota,25208,355.909747,161.777158,0
24,Mississippi,15752,286.947999,130.430909,0
25,Missouri,13147,90.999031,41.363196,0
26,Montana,515,5.801018,2.636826,0
27,Nebraska,14101,507.648852,230.749478,1
28,Nevada,8610,116.974595,53.170270,0
29,New Hampshire,4651,184.230325,83.741057,0
30,New Jersey,160445,470.525850,213.875386,1
31,New Mexico,7689,204.022359,92.737436,0
32,New York,167467,157.158887,71.435858,0
33,North Carolina,28589,172.386110,78.357323,0
34,North Dakota,2577,198.146607,90.066640,0
35,Ohio,35513,149.592355,67.996525,0
36,Oklahoma,6280,67.273680,30.578945,0
37,Oregon,4243,41.440632,18.836651,0
38,Pennsylvania,72282,207.147499,94.157954,0
39,Rhode Island,14928,595.358900,270.617682,1
40,South Carolina,11861,111.989130,50.904150,0
41,South Dakota,4993,287.568430,130.712923,0
42,Tennessee,23159,181.925369,82.693350,0
43,Texas,64287,124.845319,56.747872,0
44,Utah,9944,161.917280,73.598764,0
45,Vermont,981,18.429812,8.377187,0
46,Virginia,45398,333.863705,151.756230,0
47,Washington,21702,96.849687,44.022585,0
48,West Virginia,2010,49.382110,22.446414,0
49,Wisconsin,18403,198.353472,90.160669,0
50,Wyoming,903,59.437521,27.017055,0

In [32]:
#add columns to may_df_new
may_df_new['adh_MAYavg'] = np.nan
may_df_new['MaskMayPol'] = np.nan
may_df_new['maskMAY75'] = np.nan
may_df_new['MaskMayPol'] = np.nan
may_df_new['strictMayPol'] = np.nan
may_df_new['Month'] = "2020-05"

may_df_new

,State,tot_cases_May,case_rate_May,Wk_case_rate_May,Wk_MayHI,adh_MAYavg,MaskMayPol,maskMAY75,strictMayPol,Month
0,Alabama,18245,223.099883,101.409038,0,NaN,NaN,NaN,NaN,2020-05
1,Alaska,460,14.353184,6.524175,0,NaN,NaN,NaN,NaN,2020-05
2,Arizona,19936,168.820961,76.736801,0,NaN,NaN,NaN,NaN,2020-05
3,Arkansas,7253,132.480439,60.218382,0,NaN,NaN,NaN,NaN,2020-05
4,California,110583,156.068161,70.940073,0,NaN,NaN,NaN,NaN,2020-05
5,Colorado,26378,194.417664,88.371665,0,NaN,NaN,NaN,NaN,2020-05
6,Connecticut,42201,406.727425,184.876102,0,NaN,NaN,NaN,NaN,2020-05
7,Delaware,9606,500.326568,227.421167,1,NaN,NaN,NaN,NaN,2020-05
8,District of Columbia,8801,634.503202,288.410546,1,NaN,NaN,NaN,NaN,2020-05
9,Florida,54764,98.120207,44.600094,0,NaN,NaN,NaN,NaN,2020-05
10,Georgia,47009,196.978118,89.535508,0,NaN,NaN,NaN,NaN,2020-05
11,Hawaii,607,3.178253,1.444661,0,NaN,NaN,NaN,NaN,2020-05
12,Idaho,2839,46.109123,20.958692,0,NaN,NaN,NaN,NaN,2020-05
13,Illinois,120260,531.431118,241.559599,1,NaN,NaN,NaN,NaN,2020-05
14,Indiana,34574,248.640159,113.018254,0,NaN,NaN,NaN,NaN,2020-05
15,Iowa,19552,393.240087,178.745494,0,NaN,NaN,NaN,NaN,2020-05
16,Kansas,9719,188.136260,85.516482,0,NaN,NaN,NaN,NaN,2020-05
17,Kentucky,9704,111.825552,50.829796,0,NaN,NaN,NaN,NaN,2020-05
18,Louisiana,39916,255.378061,116.080937,0,NaN,NaN,NaN,NaN,2020-05
19,Maine,2349,91.205851,41.457205,0,NaN,NaN,NaN,NaN,2020-05
20,Maryland,53327,493.823689,224.465313,1,NaN,NaN,NaN,NaN,2020-05
21,Massachusetts,96965,504.316066,229.234576,1,NaN,NaN,NaN,NaN,2020-05
22,Michigan,57397,160.390802,72.904910,0,NaN,NaN,NaN,NaN,2020-05
23,Minnesota,25208,355.909747,161.777158,0,NaN,NaN,NaN,NaN,2020-05
24,Mississippi,15752,286.947999,130.430909,0,NaN,NaN,NaN,NaN,2020-05
25,Missouri,13147,90.999031,41.363196,0,NaN,NaN,NaN,NaN,2020-05
26,Montana,515,5.801018,2.636826,0,NaN,NaN,NaN,NaN,2020-05
27,Nebraska,14101,507.648852,230.749478,1,NaN,NaN,NaN,NaN,2020-05
28,Nevada,8610,116.974595,53.170270,0,NaN,NaN,NaN,NaN,2020-05
29,New Hampshire,4651,184.230325,83.741057,0,NaN,NaN,NaN,NaN,2020-05
30,New Jersey,160445,470.525850,213.875386,1,NaN,NaN,NaN,NaN,2020-05
31,New Mexico,7689,204.022359,92.737436,0,NaN,NaN,NaN,NaN,2020-05
32,New York,167467,157.158887,71.435858,0,NaN,NaN,NaN,NaN,2020-05
33,North Carolina,28589,172.386110,78.357323,0,NaN,NaN,NaN,NaN,2020-05
34,North Dakota,2577,198.146607,90.066640,0,NaN,NaN,NaN,NaN,2020-05
35,Ohio,35513,149.592355,67.996525,0,NaN,NaN,NaN,NaN,2020-05
36,Oklahoma,6280,67.273680,30.578945,0,NaN,NaN,NaN,NaN,2020-05
37,Oregon,4243,41.440632,18.836651,0,NaN,NaN,NaN,NaN,2020-05
38,Pennsylvania,72282,207.147499,94.157954,0,NaN,NaN,NaN,NaN,2020-05
39,Rhode Island,14928,595.358900,270.617682,1,NaN,NaN,NaN,NaN,2020-05
40,South Carolina,11861,111.989130,50.904150,0,NaN,NaN,NaN,NaN,2020-05
41,South Dakota,4993,287.568430,130.712923,0,NaN,NaN,NaN,NaN,2020-05
42,Tennessee,23159,181.925369,82.693350,0,NaN,NaN,NaN,NaN,2020-05
43,Texas,64287,124.845319,56.747872,0,NaN,NaN,NaN,NaN,2020-05
44,Utah,9944,161.917280,73.598764,0,NaN,NaN,NaN,NaN,2020-05
45,Vermont,981,18.429812,8.377187,0,NaN,NaN,NaN,NaN,2020-05
46,Virginia,45398,333.863705,151.756230,0,NaN,NaN,NaN,NaN,2020-05
47,Washington,21702,96.849687,44.022585,0,NaN,NaN,NaN,NaN,2020-05
48,West Virginia,2010,49.382110,22.446414,0,NaN,NaN,NaN,NaN,2020-05
49,Wisconsin,18403,198.353472,90.160669,0,NaN,NaN,NaN,NaN,2020-05
50,Wyoming,903,59.437521,27.017055,0,NaN,NaN,NaN,NaN,2020-05

In [33]:
#export data into csv
may_df_new.to_csv('Months/may_df_new.csv', index = False)

In [34]:
apr_df = df[['State', 'adh_APRavg', 'tot_cases_Apr' ]]
apr_df

                   State  adh_APRavg  tot_cases_Apr
0                Alabama       24.67           7306
1                 Alaska       33.30            355
2                Arizona       14.90           7648
3               Arkansas       27.57           3255
4             California       38.07          48917
5               Colorado       31.10          15182
6            Connecticut       22.97          27700
7               Delaware       25.47           4734
8   District of Columbia       25.63           4323
9                Florida       35.03          33690
10               Georgia       24.60          26095
11                Hawaii       34.10            562
12                 Idaho       20.80           2015
13              Illinois       21.63          52918
14               Indiana       22.67          17835
15                  Iowa       21.63           7145
16                Kansas       25.00           4238
17              Kentucky       17.20           4708
18             Louisiana       27.63          28044
19                 Maine       22.97           1123
20              Maryland       23.87          23472
21         Massachusetts       23.10          62205
22              Michigan       30.23          41379
23             Minnesota       21.70           5136
24           Mississippi       18.03           7212
25              Missouri       21.83           7562
26               Montana       21.00            453
27              Nebraska       21.67           4281
28                Nevada       21.27           5007
29         New Hampshire       23.10           2146
30            New Jersey       37.20         118652
31            New Mexico       21.00           3411
32              New York       36.17         136894
33        North Carolina       27.03          10509
34          North Dakota       21.30           1067
35                  Ohio       18.73          18027
36              Oklahoma       27.87           3618
37                Oregon       24.47           2510
38          Pennsylvania       32.20          45763
39          Rhode Island       22.30           8621
40        South Carolina       17.87           6095
41          South Dakota       21.47           2449
42             Tennessee       17.47          10735
43                 Texas       32.40          28087
44                  Utah       21.23           4753
45               Vermont       21.63            866
46              Virginia       25.03          16901
47            Washington       22.53          14327
48         West Virginia       22.57           1125
49             Wisconsin       22.47           6854
50               Wyoming       20.83            559

In [35]:
#add columns to new_apr_df
#['strictAprPol', 'maskAPR75', 'Wk_case_rate_Apr', 'MaskAprPol', 'Wk_AprHI', 'case_rate_Apr']
apr_df_new = pd.DataFrame(apr_df)
apr_df_new

                   State  adh_APRavg  tot_cases_Apr
0                Alabama       24.67           7306
1                 Alaska       33.30            355
2                Arizona       14.90           7648
3               Arkansas       27.57           3255
4             California       38.07          48917
5               Colorado       31.10          15182
6            Connecticut       22.97          27700
7               Delaware       25.47           4734
8   District of Columbia       25.63           4323
9                Florida       35.03          33690
10               Georgia       24.60          26095
11                Hawaii       34.10            562
12                 Idaho       20.80           2015
13              Illinois       21.63          52918
14               Indiana       22.67          17835
15                  Iowa       21.63           7145
16                Kansas       25.00           4238
17              Kentucky       17.20           4708
18             Louisiana       27.63          28044
19                 Maine       22.97           1123
20              Maryland       23.87          23472
21         Massachusetts       23.10          62205
22              Michigan       30.23          41379
23             Minnesota       21.70           5136
24           Mississippi       18.03           7212
25              Missouri       21.83           7562
26               Montana       21.00            453
27              Nebraska       21.67           4281
28                Nevada       21.27           5007
29         New Hampshire       23.10           2146
30            New Jersey       37.20         118652
31            New Mexico       21.00           3411
32              New York       36.17         136894
33        North Carolina       27.03          10509
34          North Dakota       21.30           1067
35                  Ohio       18.73          18027
36              Oklahoma       27.87           3618
37                Oregon       24.47           2510
38          Pennsylvania       32.20          45763
39          Rhode Island       22.30           8621
40        South Carolina       17.87           6095
41          South Dakota       21.47           2449
42             Tennessee       17.47          10735
43                 Texas       32.40          28087
44                  Utah       21.23           4753
45               Vermont       21.63            866
46              Virginia       25.03          16901
47            Washington       22.53          14327
48         West Virginia       22.57           1125
49             Wisconsin       22.47           6854
50               Wyoming       20.83            559

In [36]:
apr_df_new['strictAprPol'] = np.nan
apr_df_new['maskAPR75'] = np.nan
apr_df_new['Wk_case_rate_Apr'] = np.nan
apr_df_new['MaskAprPol'] = np.nan
apr_df_new['Wk_AprHI'] = np.nan
apr_df_new['case_rate_Apr'] = np.nan
apr_df_new['Month'] = "2020-04"

In [37]:
apr_df_new

,State,adh_APRavg,tot_cases_Apr,strictAprPol,maskAPR75,Wk_case_rate_Apr,MaskAprPol,Wk_AprHI,case_rate_Apr,Month
0,Alabama,24.67,7306,NaN,NaN,NaN,NaN,NaN,NaN,2020-04
1,Alaska,33.30,355,NaN,NaN,NaN,NaN,NaN,NaN,2020-04
2,Arizona,14.90,7648,NaN,NaN,NaN,NaN,NaN,NaN,2020-04
3,Arkansas,27.57,3255,NaN,NaN,NaN,NaN,NaN,NaN,2020-04
4,California,38.07,48917,NaN,NaN,NaN,NaN,NaN,NaN,2020-04
5,Colorado,31.10,15182,NaN,NaN,NaN,NaN,NaN,NaN,2020-04
6,Connecticut,22.97,27700,NaN,NaN,NaN,NaN,NaN,NaN,2020-04
7,Delaware,25.47,4734,NaN,NaN,NaN,NaN,NaN,NaN,2020-04
8,District of Columbia,25.63,4323,NaN,NaN,NaN,NaN,NaN,NaN,2020-04
9,Florida,35.03,33690,NaN,NaN,NaN,NaN,NaN,NaN,2020-04
10,Georgia,24.60,26095,NaN,NaN,NaN,NaN,NaN,NaN,2020-04
11,Hawaii,34.10,562,NaN,NaN,NaN,NaN,NaN,NaN,2020-04
12,Idaho,20.80,2015,NaN,NaN,NaN,NaN,NaN,NaN,2020-04
13,Illinois,21.63,52918,NaN,NaN,NaN,NaN,NaN,NaN,2020-04
14,Indiana,22.67,17835,NaN,NaN,NaN,NaN,NaN,NaN,2020-04
15,Iowa,21.63,7145,NaN,NaN,NaN,NaN,NaN,NaN,2020-04
16,Kansas,25.00,4238,NaN,NaN,NaN,NaN,NaN,NaN,2020-04
17,Kentucky,17.20,4708,NaN,NaN,NaN,NaN,NaN,NaN,2020-04
18,Louisiana,27.63,28044,NaN,NaN,NaN,NaN,NaN,NaN,2020-04
19,Maine,22.97,1123,NaN,NaN,NaN,NaN,NaN,NaN,2020-04
20,Maryland,23.87,23472,NaN,NaN,NaN,NaN,NaN,NaN,2020-04
21,Massachusetts,23.10,62205,NaN,NaN,NaN,NaN,NaN,NaN,2020-04
22,Michigan,30.23,41379,NaN,NaN,NaN,NaN,NaN,NaN,2020-04
23,Minnesota,21.70,5136,NaN,NaN,NaN,NaN,NaN,NaN,2020-04
24,Mississippi,18.03,7212,NaN,NaN,NaN,NaN,NaN,NaN,2020-04
25,Missouri,21.83,7562,NaN,NaN,NaN,NaN,NaN,NaN,2020-04
26,Montana,21.00,453,NaN,NaN,NaN,NaN,NaN,NaN,2020-04
27,Nebraska,21.67,4281,NaN,NaN,NaN,NaN,NaN,NaN,2020-04
28,Nevada,21.27,5007,NaN,NaN,NaN,NaN,NaN,NaN,2020-04
29,New Hampshire,23.10,2146,NaN,NaN,NaN,NaN,NaN,NaN,2020-04
30,New Jersey,37.20,118652,NaN,NaN,NaN,NaN,NaN,NaN,2020-04
31,New Mexico,21.00,3411,NaN,NaN,NaN,NaN,NaN,NaN,2020-04
32,New York,36.17,136894,NaN,NaN,NaN,NaN,NaN,NaN,2020-04
33,North Carolina,27.03,10509,NaN,NaN,NaN,NaN,NaN,NaN,2020-04
34,North Dakota,21.30,1067,NaN,NaN,NaN,NaN,NaN,NaN,2020-04
35,Ohio,18.73,18027,NaN,NaN,NaN,NaN,NaN,NaN,2020-04
36,Oklahoma,27.87,3618,NaN,NaN,NaN,NaN,NaN,NaN,2020-04
37,Oregon,24.47,2510,NaN,NaN,NaN,NaN,NaN,NaN,2020-04
38,Pennsylvania,32.20,45763,NaN,NaN,NaN,NaN,NaN,NaN,2020-04
39,Rhode Island,22.30,8621,NaN,NaN,NaN,NaN,NaN,NaN,2020-04
40,South Carolina,17.87,6095,NaN,NaN,NaN,NaN,NaN,NaN,2020-04
41,South Dakota,21.47,2449,NaN,NaN,NaN,NaN,NaN,NaN,2020-04
42,Tennessee,17.47,10735,NaN,NaN,NaN,NaN,NaN,NaN,2020-04
43,Texas,32.40,28087,NaN,NaN,NaN,NaN,NaN,NaN,2020-04
44,Utah,21.23,4753,NaN,NaN,NaN,NaN,NaN,NaN,2020-04
45,Vermont,21.63,866,NaN,NaN,NaN,NaN,NaN,NaN,2020-04
46,Virginia,25.03,16901,NaN,NaN,NaN,NaN,NaN,NaN,2020-04
47,Washington,22.53,14327,NaN,NaN,NaN,NaN,NaN,NaN,2020-04
48,West Virginia,22.57,1125,NaN,NaN,NaN,NaN,NaN,NaN,2020-04
49,Wisconsin,22.47,6854,NaN,NaN,NaN,NaN,NaN,NaN,2020-04
50,Wyoming,20.83,559,NaN,NaN,NaN,NaN,NaN,NaN,2020-04

In [38]:
apr_df_new.columns

Index(['State', 'adh_APRavg', 'tot_cases_Apr', 'strictAprPol', 'maskAPR75',
       'Wk_case_rate_Apr', 'MaskAprPol', 'Wk_AprHI', 'case_rate_Apr', 'Month'],
      dtype='object')

In [39]:
#export data into csv
apr_df_new.to_csv('Months/apr_df_new.csv', index = False)