In [1]:
import snscrape.modules.twitter as sntwitter
import pandas as pd
import itertools
import numpy as np

              city  state_name
0         New York    New York
1      Los Angeles  California
2          Chicago    Illinois
3            Miami     Florida
4           Dallas       Texas
...            ...         ...
28333        Gross    Nebraska
28334       Lotsee    Oklahoma
28335    The Ranch   Minnesota
28336     Shamrock    Oklahoma
28337       Monowi    Nebraska

[28338 rows x 2 columns]

In [3]:
# create list to append tweet data to
tweets_list = []

# create scraper function for selected search terms using TwitterSearchScraper
def tweet_scraper(searches, since_date, until_date):
    for x in searches:
        for i, tweet in enumerate(sntwitter.TwitterSearchScraper(f'{x} since:{since_date} until:{until_date}').get_items()):
            tweets_list.append([tweet.id, tweet.date, tweet.content, tweet.user.username, tweet.user.location, tweet.user.id])
            if i>2:
                 break
        
# select 10 neutral search terms
# search syntax documentation: https://github.com/igorbrigadir/twitter-advanced-search
terms = ['#maskmandate',
         'masks are *',
         '#masks',
         '#mask',
         '(mask public)',
         '(mask mandate)',
         '(mask CDC)',
         '(wearing a mask is *)',
         '(mask children) OR (mask kids)',
         '(mask government)']

In [27]:
tweet_scraper(terms, '2020-05-01', '2020-05-31')
tweet_scraper(terms, '2020-06-01', '2020-06-30')
tweet_scraper(terms, '2020-07-01', '2020-07-31')
tweet_scraper(terms, '2020-08-01', '2020-08-31')
# create a dataframe from the tweets list above
tweeter_df = pd.DataFrame(tweets_list, columns=['tweet.id', 'tweet.date', 'content', 'tweet.username', 'user.location', 'user.id'])
tweeter_df

,tweet.id,tweet.date,content,tweet.username,user.location,user.id
0,1266429664995622912,2020-05-29 18:02:15+00:00,Calling on @realDonaldTrump to end the #CDC #m...,di_daisyistand,"Southern Colorado, USA",3072080773
1,1265976112049504261,2020-05-28 12:00:00+00:00,"EFFECTIVE TOMORROW, MAY 29TH: Your cooperation...",firstteeRVA,"Richmond, VA",366378084
2,1265851188886614016,2020-05-28 03:43:36+00:00,@MinneapolisPD #ThugLife #ThankJake #MaskManda...,JoOlson74683375,,1219809263389958144
3,1265412508392861697,2020-05-26 22:40:26+00:00,@NYGovCuomo\n\nMr President @realDonaldTrump ...,ValarVarda,NY cocoon,421958572
4,1266882073488265216,2020-05-30 23:59:58+00:00,@EmperorBigD This is the fakest shit I've ever...,Williamlucero_1,Los Angeles,2218963370
...,...,...,...,...,...,...
315,1300220743800807430,2020-08-30 23:55:56+00:00,@globalnews I'm concerned about forced mask ma...,Spencer0070,"Ontario, Canada",1212835452169773056
316,1300221727188844544,2020-08-30 23:59:51+00:00,@JamesTa01913565 @slee1967 @RealDeniseWelch Th...,michkat,London,19227655
317,1300219899864731650,2020-08-30 23:52:35+00:00,You attract what you fear.\nI know this throug...,robirdie777,Australia,798172555
318,1300219195955740672,2020-08-30 23:49:47+00:00,@gerrywebster @IrelandsPeace I got dizzy on th...,Marie61172377,Ireland,1124718459017990155
319,1300218822364983303,2020-08-30 23:48:18+00:00,"@TheSharpEdge1 First it was the mask mandate, ...",Dadofmany3,Western NY,1249901051840512000

In [28]:
tweeter_df = tweeter_df.replace(r'^\s*$', np.NaN, regex=True)
tweeter_df.dropna(subset=['user.location'], inplace=True)
tweeter_df

,tweet.id,tweet.date,content,tweet.username,user.location,user.id
0,1266429664995622912,2020-05-29 18:02:15+00:00,Calling on @realDonaldTrump to end the #CDC #m...,di_daisyistand,"Southern Colorado, USA",3072080773
1,1265976112049504261,2020-05-28 12:00:00+00:00,"EFFECTIVE TOMORROW, MAY 29TH: Your cooperation...",firstteeRVA,"Richmond, VA",366378084
3,1265412508392861697,2020-05-26 22:40:26+00:00,@NYGovCuomo\n\nMr President @realDonaldTrump ...,ValarVarda,NY cocoon,421958572
4,1266882073488265216,2020-05-30 23:59:58+00:00,@EmperorBigD This is the fakest shit I've ever...,Williamlucero_1,Los Angeles,2218963370
5,1266882028018053121,2020-05-30 23:59:47+00:00,For your safety we have place tables more than...,BluJamCafe,"Los Angeles,USA",65669494
...,...,...,...,...,...,...
315,1300220743800807430,2020-08-30 23:55:56+00:00,@globalnews I'm concerned about forced mask ma...,Spencer0070,"Ontario, Canada",1212835452169773056
316,1300221727188844544,2020-08-30 23:59:51+00:00,@JamesTa01913565 @slee1967 @RealDeniseWelch Th...,michkat,London,19227655
317,1300219899864731650,2020-08-30 23:52:35+00:00,You attract what you fear.\nI know this throug...,robirdie777,Australia,798172555
318,1300219195955740672,2020-08-30 23:49:47+00:00,@gerrywebster @IrelandsPeace I got dizzy on th...,Marie61172377,Ireland,1124718459017990155
319,1300218822364983303,2020-08-30 23:48:18+00:00,"@TheSharpEdge1 First it was the mask mandate, ...",Dadofmany3,Western NY,1249901051840512000

In [102]:
tweeter_df['user.location2'] =  tweeter_df['user.location'].apply(lambda x: mapping[x] if x in mapping.keys() else x )
tweeter_df

,tweet.id,tweet.date,content,tweet.username,user.location,user.id,user.location2
0,1266429664995622912,2020-05-29 18:02:15+00:00,Calling on @realDonaldTrump to end the #CDC #m...,di_daisyistand,"Southern Colorado, USA",3072080773,"Southern Colorado, USA"
1,1265976112049504261,2020-05-28 12:00:00+00:00,"EFFECTIVE TOMORROW, MAY 29TH: Your cooperation...",firstteeRVA,"Richmond, VA",366378084,"Richmond, VA"
3,1265412508392861697,2020-05-26 22:40:26+00:00,@NYGovCuomo\n\nMr President @realDonaldTrump ...,ValarVarda,NY cocoon,421958572,NY cocoon
4,1266882073488265216,2020-05-30 23:59:58+00:00,@EmperorBigD This is the fakest shit I've ever...,Williamlucero_1,Los Angeles,2218963370,Los Angeles
5,1266882028018053121,2020-05-30 23:59:47+00:00,For your safety we have place tables more than...,BluJamCafe,"Los Angeles,USA",65669494,"Los Angeles,USA"
...,...,...,...,...,...,...,...
315,1300220743800807430,2020-08-30 23:55:56+00:00,@globalnews I'm concerned about forced mask ma...,Spencer0070,"Ontario, Canada",1212835452169773056,"Ontario, Canada"
316,1300221727188844544,2020-08-30 23:59:51+00:00,@JamesTa01913565 @slee1967 @RealDeniseWelch Th...,michkat,London,19227655,London
317,1300219899864731650,2020-08-30 23:52:35+00:00,You attract what you fear.\nI know this throug...,robirdie777,Australia,798172555,Australia
318,1300219195955740672,2020-08-30 23:49:47+00:00,@gerrywebster @IrelandsPeace I got dizzy on th...,Marie61172377,Ireland,1124718459017990155,Ireland
319,1300218822364983303,2020-08-30 23:48:18+00:00,"@TheSharpEdge1 First it was the mask mandate, ...",Dadofmany3,Western NY,1249901051840512000,New York

In [104]:
import nltk.sentiment.vader
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer

In [105]:
analyzer = SentimentIntensityAnalyzer()
pos_list = []
neg_list = []
neu_list = []
comp_list = []

for sentence in tweeter_df['content']:
    vs = analyzer.polarity_scores(sentence)
    pos_list.append(vs['pos'])
    neg_list.append(vs['neg'])
    neu_list.append(vs['neu'])
    comp_list.append(vs['compound'])
    
tweeter_df['Positive'] = pos_list
tweeter_df['Negative'] = neg_list
tweeter_df['Neutral'] = neu_list
tweeter_df['Compound'] = comp_list
tweeter_df.sort_values(by=['Compound'])

,tweet.id,tweet.date,content,tweet.username,user.location,user.id,user.location2,Positive,Negative,Neutral,Compound
183,1266870610656931841,2020-05-30 23:14:25+00:00,@TomWolfPA I have been oppressed by you. I'm s...,Lisa_anne66,üá∫üá∏üá∫üá∏üá∫üá∏,924366209390391297,üá∫üá∏üá∫üá∏üá∫üá∏,0.035,0.327,0.638,-0.9538
23,1266870610656931841,2020-05-30 23:14:25+00:00,@TomWolfPA I have been oppressed by you. I'm s...,Lisa_anne66,üá∫üá∏üá∫üá∏üá∫üá∏,924366209390391297,üá∫üá∏üá∫üá∏üá∫üá∏,0.035,0.327,0.638,-0.9538
71,1277753672773111809,2020-06-29 23:59:49+00:00,"@KDKA ""Socially unacceptable"" what the hell is...",Jibarito4848,"Pittsburgh, PA",982429902635982848,"Pittsburgh, PA",0.043,0.203,0.755,-0.8423
231,1277753672773111809,2020-06-29 23:59:49+00:00,"@KDKA ""Socially unacceptable"" what the hell is...",Jibarito4848,"Pittsburgh, PA",982429902635982848,"Pittsburgh, PA",0.043,0.203,0.755,-0.8423
104,1288987239100317699,2020-07-30 23:58:00+00:00,@realDonaldTrump You first said that is was a ...,MarvaLDowdin,USA,32235468,USA,0.000,0.170,0.830,-0.8415
...,...,...,...,...,...,...,...,...,...,...,...
38,1266878487379361793,2020-05-30 23:45:43+00:00,Super concerned for the #COVID19 spike this wi...,HeyItsRemi,UCLA | Daily Bruin,74565353,UCLA | Daily Bruin,0.244,0.053,0.702,0.8566
214,1277753066301751297,2020-06-29 23:57:25+00:00,‚úåüò∑üëâ‚òÆÔ∏èüíüüåçüåèüåé\nY'ALL...\nPLEASE... \nDON'T BE A #C...,TerryHunter,Followers You Know & Love üòçüëâ,133806735,Followers You Know & Love üòçüëâ,0.248,0.049,0.703,0.9165
54,1277753066301751297,2020-06-29 23:57:25+00:00,‚úåüò∑üëâ‚òÆÔ∏èüíüüåçüåèüåé\nY'ALL...\nPLEASE... \nDON'T BE A #C...,TerryHunter,Followers You Know & Love üòçüëâ,133806735,Followers You Know & Love üòçüëâ,0.248,0.049,0.703,0.9165
268,1288987697734987776,2020-07-30 23:59:50+00:00,"My mom kidnapped me and said ""let's go for a r...",ravenscimaven,Planet Earth,964307489704546309,Planet Earth,0.205,0.088,0.707,0.9201
108,1288987697734987776,2020-07-30 23:59:50+00:00,"My mom kidnapped me and said ""let's go for a r...",ravenscimaven,Planet Earth,964307489704546309,Planet Earth,0.205,0.088,0.707,0.9201

In [108]:
tweeter_df =  tweeter_df[tweeter_df.Compound !=0]
tweeter_df

,tweet.id,tweet.date,content,tweet.username,user.location,user.id,user.location2,Positive,Negative,Neutral,Compound
0,1266429664995622912,2020-05-29 18:02:15+00:00,Calling on @realDonaldTrump to end the #CDC #m...,di_daisyistand,"Southern Colorado, USA",3072080773,"Southern Colorado, USA",0.132,0.000,0.868,0.6487
1,1265976112049504261,2020-05-28 12:00:00+00:00,"EFFECTIVE TOMORROW, MAY 29TH: Your cooperation...",firstteeRVA,"Richmond, VA",366378084,"Richmond, VA",0.163,0.000,0.837,0.8139
3,1265412508392861697,2020-05-26 22:40:26+00:00,@NYGovCuomo\n\nMr President @realDonaldTrump ...,ValarVarda,NY cocoon,421958572,NY cocoon,0.407,0.000,0.593,0.6705
4,1266882073488265216,2020-05-30 23:59:58+00:00,@EmperorBigD This is the fakest shit I've ever...,Williamlucero_1,Los Angeles,2218963370,Los Angeles,0.046,0.062,0.892,-0.2263
5,1266882028018053121,2020-05-30 23:59:47+00:00,For your safety we have place tables more than...,BluJamCafe,"Los Angeles,USA",65669494,"Los Angeles,USA",0.120,0.000,0.880,0.5994
...,...,...,...,...,...,...,...,...,...,...,...
315,1300220743800807430,2020-08-30 23:55:56+00:00,@globalnews I'm concerned about forced mask ma...,Spencer0070,"Ontario, Canada",1212835452169773056,"Ontario, Canada",0.000,0.243,0.757,-0.8113
316,1300221727188844544,2020-08-30 23:59:51+00:00,@JamesTa01913565 @slee1967 @RealDeniseWelch Th...,michkat,London,19227655,London,0.126,0.000,0.874,0.6189
317,1300219899864731650,2020-08-30 23:52:35+00:00,You attract what you fear.\nI know this throug...,robirdie777,Australia,798172555,Australia,0.143,0.192,0.665,-0.5106
318,1300219195955740672,2020-08-30 23:49:47+00:00,@gerrywebster @IrelandsPeace I got dizzy on th...,Marie61172377,Ireland,1124718459017990155,Ireland,0.060,0.125,0.815,-0.3527
319,1300218822364983303,2020-08-30 23:48:18+00:00,"@TheSharpEdge1 First it was the mask mandate, ...",Dadofmany3,Western NY,1249901051840512000,New York,0.199,0.000,0.801,0.7704

In [ ]:
loc_df = pd.read_csv('uscities.csv')
loc_df_small = loc_df[['city', 'state_name']]
loc_df_small